<div class="container-fluid cnt">
  <div class="row justify-content-between" width="100%">
    <div
      class="btn-group btn-group-lg col-3"
      role="group"
      aria-label="Large button group"
    >
      <button type="button" class="but btn" routerLink="/admin/movie">
        Movie
      </button>
      <button type="button" class="but btn" routerLink="/admin/cinema">
        Cinema
      </button>
      <button type="button" class="but btn" routerLink="/admin/showing/cinemas">
        Movie event
      </button>
    </div>
    <div class="col-1"></div>
  </div>
</div>
