.cnt {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-bottom: 10vh;
  margin: 0;
  background: linear-gradient(0deg, #041625, #184974 60%) fixed no-repeat;
  padding-top: 17vh;
}

.but {
  padding: 1.5vh;
  background-color: rgba(0, 0, 0, 0.541);
  border-color: rgba(4, 12, 32, 0.699);
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.2em;
}

.active {
  background-color: rgba(15, 58, 122, 0.589);
  border-color: rgba(20, 21, 70, 0.664);
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-shadow: 2px 2px 5px #2a628f;
}
