<div class="container-fluid cnt">
  
  <span class="cursor" routerLink="/admin/showing/cinemas" style="font-size: 3em; color: white; margin-right: 2vw;">
    <i class="fas fa-arrow-circle-left"></i>
  </span>

<section>
  <div class="container">
    <table cellpadding="0" cellspacing="0" border="0">
      <tr>
        <th>Room Id</th>
        <th>Room Capacity</th>
        <th>Room Type</th>
        <th>Choose Movie</th>
      </tr>
      
    </table>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        
        <tr *ngFor="let room of rooms">
          <td>
            {{ room.roomId }}
          </td>
          <td>
            {{ room.roomCapacity }}
          </td>
          <td>
            {{ room.roomType }}
          </td>
          <td>
            <span class="cursor" routerLink="/admin/showing/cinemas/{{ cinemaId }}/rooms/{{
              room.roomId
            }}/movies" style="font-size: 3em; color: #04628f">
              <i class="fas fa-film cursor"></i>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
</div>