.seats {
  padding-bottom: 1vh;
  width: 4vh;
  height: 4vh;
  
}

.backbut {
  position: absolute;
  transform: translate(3vw, -2.9vh);
}



.arr {
  transform: translate(3vh, -3.2vh);
}
.image {
  height: 5vh;
  width: 5vh;
  max-width: 99999px;
  content: url("/assets/img/seat.png");
  filter: invert(70%);
}
.nowbooking {
  content: url("/assets/img/nowbookingseat.png");
  filter: invert(0%);
}

.reserved {
  content: url("/assets/img/reservedseat.png");
}

.star {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  color: #d3d3d3;
}

.full {
  color: red;
  filter: invert(0%);
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}

.btnadd {
  position: right;
}

.cursor {
  cursor: pointer;
}

.cnt {
  position: relative;
  width: 100vw;
  height: 100%;
  margin: 0;
  background: linear-gradient(0deg, #041625, #184974 60%) fixed no-repeat;
  padding-top: 17vh;
  padding-bottom: 21vh;
}

.but {
  font-family: "Montserrat",
    sans-serif;
  color: white;
  font-size: 1.5rem;
  background-color: #196cafa2;
}

.but:hover {
  font-family: "Montserrat",
    sans-serif;
  color: white;
  font-size: 1.5rem;
  background-color: #1879c9;
}

.active {
  background-color: rgba(15, 58, 122, 0.589);
  border-color: rgba(20, 21, 70, 0.664);
  font-family: "Montserrat",
    sans-serif;
  color: #ffffff;
  text-shadow: 2px 2px 5px #2a628f;
}

h1 {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  font-family: "Montserrat",
  sans-serif;
}


.tbl-content {
  height: 50vh;
  overflow-x: auto;
  margin-top: 0px;

}


.desc {
  height: 30vh;
  width: 30vh;
}

section {
  margin: 0vh;
}

.imgUrl {
  height: 3vh;
  width: 6vw;
}

.imgUrlPoster {
  height: 3vh;
  width: 12vw;
}


table {
  position: relative;
  table-layout: auto;
}

.tablecnt {
  padding: 2vh;
  border-radius: 25px;
  border: 2px solid rgb(255, 255, 255);
}



.inp {
  background: transparent;
  border-color: transparent;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  transition: all 0.8s;
  color: #ccc;
}

.inp:focus {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #fff;
  border-bottom: 2px solid #2a628f;
}

.sel {
  background-color: transparent;
  color: #ccc;
}

.sel:focus {
  background-color: transparent;
  color: rgb(0, 0, 0);
}

label {
  color: white;
}
