.seats {
  padding-bottom: 3vh;
  padding-right: 5vh;
}

.image {
  height: 4vh;
  width: 4vh;
  max-width: 99999px;
  content: url("/assets/img/seat.png");
}
.reservedimage {
  content: url("/assets/img/reservedseat.png");
}
