<div class="container-fluid pt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-9 ">
      <div class="seat_plan_wrap">
        <div class="row">
          <div class="col-md-6">
            <h6>Select Seats</h6>
            <table>
              <tr *ngFor="let seats of seatsArraySorted">
                <td *ngFor="let seat of seats">
                  <img
                    class="chair"
                    src="https://image.flaticon.com/icons/png/512/24/24868.png"
                    (click)="printSeatId(seat.seatId)"
                  />
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
