<div class="container-fluid cnt">
  <div class="cont">
    <div class="row">
      <div class="col">
        <h1>Select Seats</h1>
      </div>

      <div class="backbut">
        <span
          class="arr cursor"
          routerLink="/movies/{{ movieId }}"
          style="font-size: 3em; color: white; margin-right: 2vw;"
        >
          <i class="fas fa-arrow-circle-left"></i>
        </span>
      </div>
    </div>

    <section>
      <div class="container pt-4 mb-5">
        <ngb-alert *ngIf="loginCondition" type="warning" (close)="close()">{{
          error
        }}</ngb-alert>
        <h1>{{ message }}</h1>
        <div class="row justify-content-center">
          <div class="tablecnt">
            <table>
              <tr *ngFor="let seats of seatsArraySorted">
                <td *ngFor="let seat of seats" class="seats">
                  <img
                    class="image cursor"
                    (click)="
                      toggleComponent(
                        seat.seatId,
                        seat.seatStatus,
                        seat.seatRow,
                        seat.seatColumn,
                        seat.ticketPrice
                      )
                    "
                    [ngClass]="{
                      nowbooking: toggleC(seat.seatId),
                      reserved: seeReserved(seat.seatId)
                    }"
                  />
                </td>
              </tr>
            </table>

            <h1 *ngIf="showDetails">
              Row: {{ row }} Seat: {{ column }} Price: {{ ticketPrice }}$
            </h1>
          </div>
        </div>
      </div>
    </section>
    <div class="row justify-content-center">
      <div>
        <button
          type="button"
          [ngClass]="{
            disabled: !showDetails
          }"
          (click)="reserveSeat()"
          class="btn but btn-secondary"
        >
          Book Seat
        </button>
      </div>
    </div>
  </div>
</div>
