.star {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  color: #d3d3d3;
}
.full {
  color: red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}

.btnadd {
  position: right;
}

.cursor {
  cursor: pointer;
}

.cnt {
  position: relative;
  width: 100vw;
  height: 100%;
  padding-bottom: 30vh;
  margin: 0;
  background: linear-gradient(0deg, #041625, #184974 60%) fixed no-repeat;
  padding-top: 17vh;
}

.but {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.541);
  border-color: rgba(4, 12, 32, 0.699);
  font-family: "Montserrat",
    sans-serif;
  color: white;
}

.active {
  background-color: rgba(15, 58, 122, 0.589);
  border-color: rgba(20, 21, 70, 0.664);
  font-family: "Montserrat",
    sans-serif;
  color: #ffffff;
  text-shadow: 2px 2px 5px #2a628f;
}

h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}


.tbl-content {
  height: 50vh;
  overflow-x: auto;
  margin-top: 0px;

}


.desc {
  height: 30vh;
  width: 30vh;
}

section {
  margin: 50px;
}

.imgUrl {
  height: 3vh;
  width: 6vw;
}

.imgUrlPoster {
  height: 3vh;
  width: 12vw;
}


table {
  width: 100%;
  table-layout: fixed;
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;

}

td {
  padding: 2vh;

  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
