<header class="header">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink="/">CinemaBooking</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" id="Home" routerLink="/home">Home </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" id="Movies" routerLink="/movies">Movies</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" id="Admin" routerLink="/admin">Admin</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" id="Admin" routerLink="/admin">Cinema</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="butn btn" type="submit">
          Search
        </button>
      </form>
    </div>
  </nav>
</header>
<main id="main" class="site-main main">
  <router-outlet></router-outlet>
</main>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
