.navbar {
  height: 13vh;
  transition: height 0.4s ease-out;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(3, 4, 12, 0.8) 0%,
    rgba(8, 24, 37, 0.836) 100%
  );
}
.custom-navbar {
  height: 7vh;
  transition: height 0.4s ease-in;
}

.navbar-c {
  height: 50vh;
  background: linear-gradient(
    90deg,
    rgba(3, 4, 12, 0.8) 0%,
    rgba(8, 24, 37, 0.836) 100%
  );
  transition: height 0.2s ease-out;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.cursor {
  cursor: pointer;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffffff;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #ffffff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ffffff;
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: 0.25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffffff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #2a628f;
  text-shadow: 2px 2px 5px #2a628f;
}
.navbar .navbar-toggle {
  color: #2a628f;
  text-shadow: 2px 2px 5px #2a628f;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  color: #2a628f;
  text-shadow: 2px 2px 5px #2a628f;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #2a628f;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #2a628f;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #2a628f;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #2a628f;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffffff;
  background-color: #2a628f;
}
.butn {
  background-color: #1d1e2c;
  color: white;
}

.header {
  position: fixed;
  z-index: 999;
  margin: 0;
  padding: 0;
}

.nav-item :hover {
  color: #2a628f;
  text-shadow: 2px 2px 5px #2a628f;
}

.nav-link :hover {
  color: #2a628f;
  text-shadow: 2px 2px 5px #2a628f;
}

.navbar-form :hover {
  color: #2a628f;
  text-shadow: 2px 2px 5px #2a628f;
}

.navbar-text :hover {
  color: #2a628f;
  text-shadow: 2px 2px 5px #2a628f;
}

.search {
  background: transparent;
  border-color: transparent;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  transition: all 0.8s;
}

.search:focus {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #fff;
  border-bottom: 2px solid #2a628f;
}

.logo {
  height: 30px;
  width: 30px;
  filter: invert(100%);
  position: relative;
  transform: translateY(-5px);
}
.span-logo {
  height: 4vh;
  width: 4vw;
}
.login-container {
  max-width: 400px;
  margin: 60px auto 0;
  height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.error {
  color: tomato;
  font-size: 12px;
  padding-top: 4px;
}

.login-but {
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  margin-right: 2vw;
}

.login-but:hover {
  border-radius: 10px;
  border: 2px solid #2a628f;
  margin-right: 2vw;
}

.inp {
  background: transparent;
  border-color: transparent;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  transition: all 0.8s;
  color: #ccc;
}

.inp:focus {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #fff;
  border-bottom: 2px solid #2a628f;
}

.mod {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #0c2438e8;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

label {
  color: white;
}

.but {
  border-color: rgba(4, 12, 32, 0.699);
  font-family: "Montserrat", sans-serif;
  color: rgb(4, 12, 32);
}

.but:hover {
  background-color: rgba(4, 12, 32, 0.699);
  border-color: rgba(4, 12, 32, 0.699);
  font-family: "Montserrat", sans-serif;
  color: white;
}

.active:focus {
  background-color: rgba(4, 12, 32, 0.699);
  border-color: rgba(4, 12, 32, 0.699);
  font-family: "Montserrat", sans-serif;
  color: white;
  box-shadow: transparent !important;
}

.active {
  border-color: rgba(4, 12, 32, 0.699) !important;

  color: white;
  box-shadow: transparent !important;
}
.butlink {
  border-color: rgba(4, 12, 32, 0.699) !important;
  color: white;
  box-shadow: transparent !important;
}
.canc {
  font-family: "Montserrat", sans-serif;
}

.tab {
  background: transparent;
  color: white;
}
