<header class="header container-fluid " (scroll)="onScroll($event)">
  <div>
    <nav
      class="navbar navbar-expand-lg nav-menu"
      [ngClass]="{
        'custom-navbar': navb,
        'navbar-c': !isMenuCollapsed
      }"
    >
      <a class="navbar-brand" routerLink="/"
        ><span class="span-logo"
          ><img class="logo" src="../assets/img/favicon.jpg" alt=""/></span
        >CinemaBooking</a
      >
      <button
        class="navbar-toggler"
        type="button"
        (click)="isMenuCollapsed = !isMenuCollapsed"
      >
        &#9776;
      </button>
      <div
        class="collapse navbar-collapse"
        [ngbCollapse]="isMenuCollapsed"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" id="Home" routerLink="/home"
              ><span class="nav-word">Home</span>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" id="Movies" routerLink="/movies"
              ><span class="nav-word">Movies</span></a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" id="Admin" routerLink="/admin"
              ><span class="nav-word">Admin</span></a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" id="Admin" routerLink="/cinema"
              ><span class="nav-word">Cinema</span></a
            >
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="search form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </form>
      </div>
    </nav>
  </div>
</header>
<router-outlet #o="outlet"></router-outlet>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
