<div class="container-fluid cnt">
  <span
    class="cursor"
    routerLink="/admin/showing/cinemas/{{ cinemaId }}/rooms"
    style="font-size: 3em; color: white; margin-right: 2vw;"
  >
    <i class="fas fa-arrow-circle-left"></i>
  </span>
  <span
    class="cursor"
    routerLink="/admin/showing/cinemas/{{ cinemaId }}/rooms/{{
      roomId
    }}/movies/addmovie"
    style=" font-size: 3em; color: white; margin-right: 2vw;"
  >
    <i class="fas fa-plus"></i>
  </span>

  <section>
    <div class="container">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <th>Movie Name</th>
          <th>Movie Start Time</th>
          <th>Movie End Time</th>
          <th>Delete</th>
        </tr>
      </table>

      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr *ngFor="let movie of movies">
            <td>
              {{ movie.movieName }}
            </td>
            <td>
              {{ movie.movieStartTime }}
            </td>
            <td>
              {{ movie.movieEndTime }}
            </td>
            <td>
              <span
                class="cursor"
                (click)="open(confirm)"
                style="font-size: 3em;color:  rgb(245, 19, 19);"
              >
                <i class="fas fa-trash cursor"></i>
              </span>
            </td>
            <ng-template #confirm let-modal>
              <div class="mod">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-title">Event Deletion</h4>
                  <button
                    type="button"
                    class="close"
                    aria-describedby="modal-title"
                    (click)="modal.dismiss('Cross click')"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>
                    <strong
                      >Are you sure you want to delete this Event?
                    </strong>
                  </p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-outline-secondary"
                    (click)="modal.dismiss('cancel click')"
                  >
                    Cancel
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="
                      deleteMovieEvent(
                        cinemaId,
                        roomId,
                        movie.movieId,
                        movie.movieEventId
                      )
                    "
                    (click)="modal.close('Ok click')"
                  >
                    Ok
                  </button>
                </div>
              </div>
            </ng-template>
          </tr>
        </table>
      </div>
    </div>
  </section>
</div>
