/* You can add global styles to this file, and also import other style files */

body {
  height: 100%;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.0001) !important;
}
.mod {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
