.cnt {
  position: relative;
  width: 100vw;
  margin: 0;
  background: linear-gradient(0deg, #041625, #184974 60%) fixed no-repeat;
  padding-top: 17vh;
  padding-bottom: 21vh;
  background-position: center center;
  background-size: cover;
}
h1 {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
}

.stub {
  background-image: url("/assets/img/first.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20vh;
  width: 15vh;
  display: inline-block;
  transform: translateX(-1.3vh);
}

.tick {
  background-image: url("/assets/img/second.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20vh;
  width: 36vh;
  display: inline-block;
}

.ticket {
  text-align: center;
}
