.cnt {
  position: relative;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding-top: 17vh;
}
h1 {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
}

.stub {
  background-image: url("/assets/img/first.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30vh;
  width: 22.5vh;
  display: inline-block;
  transform: translateX(-1.3vh);
  position: relative;
}

.tick {
  background-image: url("/assets/img/second.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 30vh;
  width: 54vh;
  display: inline-block;
  position: relative;
}

.ticket {
  text-align: center;
}

.ticket:hover {
  text-align: center;
  transform: translate(1vh, -1vh);
}

section {
  padding-top: 10vh;
}

.tickdata {
  max-width: 50vh;
  position: absolute;
  left: 3vh;
  bottom: 3vh;
}

.stubdata {
  max-width: 20vh;
  position: absolute;
  top: 35%;
  left: 25%;
  font-size: 100%;
}

.mov {
  font-size: 2em;
}

p {
  margin-bottom: 0.2vh;
  font-size: 0.8em;
  text-align: left;
}

.st {
  margin-bottom: 0vh;
  text-align: center;
  font-size: 1.5em;
}
